@import 'reset';
@import 'responsive-nav';
@import 'mixin';

// *** Global *** //
// ** Fonts ** //
$font-body: 'Open Sans', sans-serif;
$font-header: 'Montserrat', sans-serif;
$logo-font: 'Almendra Display', cursive;

// ** Color ** //

body {
	font-family: $font-body;
	line-height: 2em;
	color: #68848B;
	font-size: .8em;
	font-weight: 800;
	font-size: 1em;
}
header {

	font-family: $font-header;
	background-color: #FFA849;
	padding-bottom: 25px;
}
header nav {
	margin-bottom: 50px;
	text-transform: uppercase;
	text-align: center;
	background-color: #FFA849;
}
.header-intro{
	background: #FFA849;
	color: #410000;
	text-align: center;

}

h1 {
	color: #410000;
}
h2 {
	font-family: $font-header;
	font-size: 1.5em;
	font-weight: 700;
	color: #68848B;
}
h3 {
	color: #B0DB72;
	font-weight: 800;
	font-size: 1.5em;
}
footer {
	background: #FFA849;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
		color: #fff;





    .facebook, .twitter, .email{
 		width: 5%;
 		margin-left: 1%;
 		float: left;
		margin-top: 5px
    }

    p {
    	margin-left: 10%;
    	margin-bottom: 5px;
    	display: inline;
			font-size: .8em;

    }
}

.logo {
	max-width: 32%;
	margin-left: 33.5%;
	margin-top: 10%;


}


// *** Home *** //

.hero {

	width: 100%;
}
.header-text {
	font-size: 1.5em;
	text-align: center;

}
.dj-header {
	text-align: center;
	font-family: $font-header;
	font-size: 2em;
	margin-bottom: 30px;
	margin-top: 30px;

}
.intro {
	width: 50%;
	margin-left: 20%;
	font-weight: 100;
	line-height: 2.2em;
	float: none;
}
iframe {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 100px;
}
.hours {
	// text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
	font-weight: bold;
	margin-right: 10%;

}


	.hours{

		padding: 10px 0 60px;

}


.kern {
	letter-spacing: -.2em;
}

// ****** About Us ***** //
.hero2 {

	width: 100%;
	padding: 50px 0 50px;
}

.shop {

	width: 100%;
	padding: 50px 0 50px;
}
.about-container {

	width: 60%;
	margin-left: 20%;

}

.about-container h1 {

	margin-bottom: 20px;
	font-size: 2.6em;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	font-family: $font-header;
	color: #410000;

}
.about-container p {

	margin-bottom: 100px;
}




// ****** Drink Menu ****** //


.drink-container{
	margin-top: 15px;
	text-align: center;


	h1 {
	font-size: 2.6em;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	font-family: $font-header;
	color: #410000;
	padding-top: 16px;
	}

	 h2 {
	 	margin-top: 24px;
	 	font-family: $font-header;
	 	font-size: 2em;

	 }
}

.drinks {
	margin-top: 24px;
}

.teas {
	margin-top: 24px;
	margin-bottom: 24px;
}

.coffee-two  {
 width: 89%;
}
.drink-wrapper {

	text-align: center;
	margin-top: 25px;
	line-height: 2em;

	h3 {
		text-align: center;
		font-weight: bold;

	}
}

.menu-item{

	margin-left: 10px;
	margin-top: 30px;



}
.menu-item-coffee {
	margin-right: 2%;
}

.menu-price {
	clear:both;
	margin-left: 10px;
	margin-bottom: 50px;
	font-size: 1em;
}


.smoothies {
	text-align: center;
	margin-bottom: 20px;
}

.menu-price-smoothies p {
	text-align: center;
	font-size: 1em;
	margin-top: 40px;

}
hr {
border: 0;
color: #410000;
background-color: #410000;
height: 1px;
width: 45%;

}

.bold{
	font-weight: 300;
}
.bolds {
	font-weight: 300;
}
// ************** //
@media screen and (min-width: 405px){

	.main-container {
		max-width: 1300px;
	}

	header ul {
		text-align: center;
	}

	.logo {
		width: 10%;
		float: right;
		display: none;
	}
	.pics {
		display: inline;
		text-align: center;
	}
	footer{
		width: 100%;


    .facebook, .twitter, .email{

 		width: 3%;
 		margin-left: 1%;
 		float: left;

   	 }
	}


}
@media screen and (min-width: 1000px) {


	.main-container {
		width: 1450px;
	}
// Header//
	.logo {
		width: 12%;
		margin: 0 auto;
		display: block;
		float: left;
		padding: 50px;
		margin-left: 1%;
	}

	.hero {
		height: 500px;
		z-index: 0;

	}

// Home-Content//
iframe {
	margin-left: 5%;
	margin-bottom: 150px;
}
.hours {
	margin-left: 40%;

}
.intro {
	width: 30%;
	float: left;
	margin-bottom: 40px;
	margin-right: 5%;
}


// Footer//

	footer {
    width: 100%;
    font-size: .76em;
    min-width: 500px;


    .facebook, .twitter, .email{

 		width: 3%;
 		height: 25px;
 		margin-left: 2%;
 		margin-top: 10px;
 		display: inline-block;

    }


    p {
    	float: right;
    	margin-right: 3%;
    	margin-top: 10px;


    }
	}

	.pics {
		width: 100%;

	.hours, .menu, .school {
		float: left;
		height: 180px;
		margin-left: 20%;
		margin-top: 25px;
		padding: 45px 0 65px;

	}
	.school {
		margin-bottom: 30px;
	}
	}

// Menu //

	.drink-container {
		width: 100%;
    z-index: 10;
    position: relative;
    color: #68848B;
    margin-top: 40px;
	}



	.drink-wrapper-coffee {
		width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    size: 1em;
    line-height: 1.5em;
    text-align: center;
	}
	.menu-item {
		width: 100%;
    border-bottom: #FFA849 dashed 1px;
    padding: 15px 0 15px 0;
    text-align: left;

	}
	.menu-item-title {
    color: #4e7987;
    font-size: 1.5em;
    margin-bottom: 5px;
    line-height: 100%;
    width: 90%;
	}

	.menu-price {
		color: #4A2B13;
    float: right;
    display: block;
    position: relative;
    top: -20px;
    margin-left: 20px;
		font-weight: 900;


	}
	.teas {
		position: relative;
		left: 15%;
	}
	.menu-price-smoothies {
		padding-bottom: 80px;
	}
}
