/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
  padding-top: 1.5em; }

.nav-collapse ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden; }

.nav-collapse li {
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 25px;
  display: block;
  text-align: center;
  margin: 0 auto; }

.nav-collapse a {
  color: #410000;
  text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #410000;
  text-align: center;
  padding: 20px 2%;
  display: block;
  text-decoration: none; }

.nav-toggle span {
  color: #4A2B13;
  font-size: 1.15em; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
@media screen and (min-width: 1000px) {
  .nav-collapse ul {
    margin-top: 80px; }

  .nav-collapse li {
    float: right;
    margin-right: 20%; } }
.container {
  width: 100%;
  background: #fdf3e7;
  height: 1140px;
  overflow: hidden;
  margin: auto 0; }

.row {
  width: 90%; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col12 {
  margin-right: 1.7%;
  box-sizing: border-box;
  text-align: center;
  width: 100%; }

@media screen and (min-width: 400px) {
  .container {
    background-color: #fdf3e7; }

  .row {
    text-align: center;
    float: left; }

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col12 {
    float: left; }

  .col1 {
    background: blue;
    width: 6.7%; }

  .col6 {
    background: #fdf3e7;
    width: 48.7%; }

  .col2 {
    background: pink;
    width: 15.1%; }

  .col4 {
    background: pink;
    width: 31.9%; }

  .col3 {
    background: aqua;
    width: 23.5%; }

  .col5 {
    background: aqua;
    width: 40.3%; }

  .col7 {
    background: blue;
    width: 57.1%; }

  .col8 {
    background: blue;
    width: 65.5%; }

  .col9 {
    background: green;
    width: 73.9%; }

  .col12 {
    width: 99.1%; } }
.row div:last-child {
  margin-right: 0;
  background: orange; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
  color: #68848B;
  font-size: .8em;
  font-weight: 800;
  font-size: 1em; }

header {
  font-family: "Montserrat", sans-serif; }

header nav {
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center; }

.header-intro {
  background: #FFA849;
  color: #410000;
  text-align: center; }

h1 {
  color: #410000; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #68848B; }

h3 {
  color: #B0DB72;
  font-weight: 800;
  font-size: 1.5em; }

footer {
  background: #FFA849;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff; }
  footer .facebook, footer .twitter, footer .email {
    width: 5%;
    margin-left: 1%;
    float: left;
    margin-top: 5px; }
  footer p {
    margin-left: 10%;
    margin-bottom: 5px;
    display: inline;
    font-size: .8em; }

.logo {
  max-width: 32%;
  margin-left: 33.5%;
  margin-top: 10%; }

.hero {
  width: 100%; }

.header-text {
  font-size: 1.5em;
  text-align: center; }

.dj-header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
  margin-top: 30px; }

.intro {
  width: 50%;
  margin-left: 20%;
  font-weight: 100;
  line-height: 2.2em;
  float: none; }

iframe {
  display: block;
  margin-top: 10px; }

.hours {
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  font-weight: bold;
  margin-right: 10%; }

.hours {
  padding: 10px 0 60px; }

.hero2 {
  width: 100%;
  padding: 50px 0 50px; }

.shop {
  width: 100%;
  padding: 50px 0 50px; }

.about-container {
  width: 60%;
  margin-left: 20%; }

.about-container h1 {
  margin-bottom: 20px;
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #410000; }

.about-container p {
  margin-bottom: 100px; }

.drink-container {
  margin-top: 15px;
  text-align: center; }
  .drink-container h1 {
    font-size: 2.6em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;
    color: #410000; }
  .drink-container h2 {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 2em; }

.coffee-two {
  width: 100%; }

.drink-wrapper {
  text-align: center;
  margin-top: 25px;
  line-height: 2em; }
  .drink-wrapper h3 {
    text-align: center;
    font-weight: bold; }

.menu-item {
  margin-left: 10px;
  margin-top: 30px; }

.menu-item-coffee {
  margin-right: 2%; }

.menu-price {
  clear: both;
  margin-left: 10px;
  margin-bottom: 50px;
  font-size: 1em; }

.smoothies {
  text-align: center;
  margin-bottom: 20px; }

.menu-price-smoothies p {
  text-align: center;
  font-size: 1em;
  margin-top: 40px; }

hr {
  border: 0;
  color: #410000;
  background-color: #410000;
  height: 1px;
  width: 45%; }

@media screen and (min-width: 405px) {
  .main-container {
    max-width: 1300px; }

  header ul {
    text-align: center; }

  .logo {
    width: 10%;
    float: right;
    display: none; }

  .pics {
    display: inline;
    text-align: center; }

  footer {
    width: 100%; }
    footer .facebook, footer .twitter, footer .email {
      width: 3%;
      margin-left: 1%;
      float: left; } }
@media screen and (min-width: 1000px) {
  .main-container {
    width: 1450px; }

  .logo {
    width: 12%;
    margin: 0 auto;
    display: block;
    float: left;
    padding: 50px; }

  .hero {
    height: 500px;
    z-index: 0; }

  iframe {
    margin-left: 5%;
    margin-bottom: 150px; }

  .hours {
    margin-left: 40%; }

  .intro {
    width: 30%;
    float: left;
    margin-bottom: 40px;
    margin-right: 5%; }

  header {
    background-color: #FFA849; }

  footer {
    width: 100%;
    font-size: .76em;
    min-width: 500px; }
    footer .facebook, footer .twitter, footer .email {
      width: 3%;
      height: 25px;
      margin-left: 2%;
      margin-top: 10px;
      display: inline-block; }
    footer p {
      float: right;
      margin-right: 3%;
      margin-top: 10px; }

  .pics {
    width: 100%; }
    .pics .hours, .pics .menu, .pics .school {
      float: left;
      height: 180px;
      margin-left: 20%;
      margin-top: 25px;
      padding: 45px 0 65px; }
    .pics .school {
      margin-bottom: 30px; }

  .drink-container {
    width: 100%;
    z-index: 10;
    position: relative;
    color: #68848B;
    margin-top: 40px; }

  .coffee-two {
    height: 450px; }

  .drink-wrapper-coffee {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    size: 1em;
    line-height: 1.5em;
    text-align: center; }

  .menu-item {
    width: 100%;
    border-bottom: #FFA849 dashed 1px;
    padding: 15px 0 15px 0;
    text-align: left; }

  .menu-item-title {
    color: #4e7987;
    font-size: 1.5em;
    margin-bottom: 5px;
    line-height: 100%;
    width: 90%; }

  .menu-price {
    color: #4A2B13;
    float: right;
    display: block;
    position: relative;
    top: -20px;
    margin-left: 20px; }

  .teas {
    position: relative;
    left: 15%; }

  .menu-price-smoothies {
    padding-bottom: 80px; } }

/*# sourceMappingURL=style.css.map */
