/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
  padding-top: 1.5em; }

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden; }

.nav-collapse li {
  margin-bottom: .5em;
  margin-right: 9%;
  float: right; }

.nav-collapse a {
  color: #4A2B13;
  text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #4A2B13;
  text-align: center;
  padding: 20px 2%;
  display: block;
  text-decoration: none; }

.nav-toggle span {
  color: #4A2B13;
  font-size: 1.15em; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
.container {
  width: 100%;
  background: #fdf3e7;
  height: 1140px;
  overflow: hidden;
  margin: auto 0; }

.row {
  width: 90%; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col12 {
  margin-right: 1.7%;
  box-sizing: border-box;
  text-align: center;
  width: 100%; }

@media screen and (min-width: 400px) {
  .container {
    background-color: #fdf3e7; }

  .row {
    text-align: center;
    float: left; }

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col12 {
    float: left; }

  .col1 {
    background: blue;
    width: 6.7%; }

  .col6 {
    background: #fdf3e7;
    width: 48.7%; }

  .col2 {
    background: pink;
    width: 15.1%; }

  .col4 {
    background: pink;
    width: 31.9%; }

  .col3 {
    background: aqua;
    width: 23.5%; }

  .col5 {
    background: aqua;
    width: 40.3%; }

  .col7 {
    background: blue;
    width: 57.1%; }

  .col8 {
    background: blue;
    width: 65.5%; }

  .col9 {
    background: green;
    width: 73.9%; }

  .col12 {
    width: 99.1%; } }
.row div:last-child {
  margin-right: 0;
  background: orange; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
  color: #68848B;
  font-size: .8em;
  font-weight: 800; }

header {
  font-family: "Montserrat", sans-serif; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #68848B; }

footer {
  background: #FFA849;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: .76em;
  padding: 5px 0;
  min-width: 600px; }
  footer .facebook, footer .twitter, footer .email {
    width: 3%;
    margin-left: .6%;
    text-align: center;
    display: inline-block; }
  footer p {
    margin-left: 5%;
    margin-bottom: 5px;
    display: inline-block; }

.logo {
  max-width: 32%;
  margin-left: 33.5%;
  margin-top: 10%; }

.hero {
  width: 97%; }

.pics {
  width: 50%; }
  .pics .hours, .pics .menu, .pics .school {
    float: left;
    margin-left: 50%;
    padding: 45px 0; }
  .pics .school {
    margin-bottom: 30px; }

.hero2 {
  width: 100%;
  padding: 50px 0 50px; }

.shop {
  width: 100%;
  padding: 50px 0 50px; }

.about-container {
  width: 60%;
  margin-left: 20%; }

.about-container h2 {
  margin-bottom: 20px; }

.about-container p {
  margin-bottom: 100px; }

.drink-container {
  text-align: center; }
  .drink-container h1 {
    font-size: 1.5em;
    text-align: center; }

.main-container {
  margin-left: 10px; }

.main-container h1, h2 {
  margin-top: 15px;
  text-align: center;
  font-family: arial, helvetica, sans-serif; }

.drink-wrapper {
  text-align: center;
  margin-top: 25px;
  line-height: 2em; }
  .drink-wrapper h3 {
    text-align: center; }

.menu-item {
  margin-left: 10px; }

.menu-price {
  clear: both;
  margin-left: 10px;
  font-size: .5em; }

.smoothies {
  text-align: center;
  margin-bottom: 20px; }

.menu-price p {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px; }

hr {
  border: 0;
  color: #410000;
  background-color: #410000;
  height: 1px;
  width: 60%; }

@media screen and (min-width: 500px) {
  .main-container {
    max-width: 1300px; }

  header {
    text-align: center; }

  .logo {
    width: 10%;
    display: inline-block; } }
@media screen and (min-width: 1000px) {
  .logo {
    width: 12%;
    margin-right: 3%; }

  header {
    margin-right: 25%;
    margin-bottom: 30px; }

  .hero {
    width: 100%;
    height: 500px; }

  .pics {
    width: 100%;
    float: left; } }

/*# sourceMappingURL=style.css.map */
