@import 'reset';
@import 'responsive-nav';
@import 'mixin';



// *** Global *** //
// ** Fonts ** //
$font-body: 'Open Sans', sans-serif;
$font-header: 'Montserrat', sans-serif;
$logo-font: 'Almendra Display', cursive;

// ** Color ** //

body {
	font-family: $font-body;
	line-height: 2em;
	color: #68848B;
	font-size: .8em;
	font-weight: 800;

}
header {
	background: #410000;
	font-family: $font-header;
}
header nav {
	// border-top: 1px solid #4A2B13;
	// border-bottom: 1px solid #4A2B13;
	margin-bottom: 50px;
	text-transform: uppercase;


}
h1 {
	color: #410000;
}
h2 {
	font-family: $font-header;
	font-size: 1.5em;
	font-weight: 700;
	color: #68848B;
}
h3 {
	color: #B0DB72;
	font-weight: 800;
	font-size: 1.5em;
}
footer {
	background: #FFA849;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1em;
    padding: 5px 0;
   

    .facebook, .twitter, .email{

 		width: 5%;
 		margin-left: 1%;
 		float: left;
 		
    }


    p {
    	margin-left: 5%;
    	margin-bottom: 5px;
    	display: inline-block;

    }
}

.logo {
	max-width: 32%;
	margin-left: 33.5%;
	margin-top: 10%;

}


// *** Home *** //

.hero {

	width: 100%;
}
.header-text {
	font-size: 1.5em;
	text-align: center;

}
.dj-header {
	text-align: center;
	font-family: $font-header;
	font-size: 2em;
	margin-bottom: 30px;
	margin-top: 30px;
	
}
.intro {
	width: 60%;
	margin-left: 20%;
	font-weight: 100;
	line-height: 2.2em;


}
.hours {
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
}

.pics {
	width: 50%;
	
	.hours, .menu, .school {
		float: left;
		margin-left: 50%;
		padding: 45px 0;

	}
	.school {
		margin-bottom: 30px;
	}
}




// ****** About Us ***** //
.hero2 {

	width: 100%;
	padding: 50px 0 50px;
}

.shop {

	width: 100%;
	padding: 50px 0 50px;
}
.about-container {

	width: 60%;
	margin-left: 20%;

}

.about-container h1 {

	margin-bottom: 20px;
	font-size: 2.6em;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	font-family: $font-header;
	color: #410000;

}
.about-container p {

	margin-bottom: 100px;
}




// ****** Drink Menu ****** //


.drink-container{
	margin-top: 15px;
	text-align: center;

	
	h1 {
	font-size: 2.6em;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	font-family: $font-header;
	color: #410000;
	}

	 h2 {
	 	margin-top: 15px;
	 	font-family: $font-header;
	 	font-size: 2em;

	 }
}

.drink-wrapper {

	text-align: center;
	margin-top: 25px;
	line-height: 2em;

	h3 {
		text-align: center;
		font-weight: bold;

	}
}

.menu-item{
	
	margin-left: 10px;
	margin-top: 30px;



}
.menu-item-coffee {
	margin-right: 2%;
}

.menu-price {
	clear:both;
	margin-left: 10px;
	margin-bottom: 50px;
	font-size: 1em;
}


.smoothies {
	text-align: center;
	margin-bottom: 20px;
}

.menu-price-smoothies p {
	text-align: center;
	font-size: 1em;
	margin-top: 40px;

}
hr {
border: 0;
color: #410000;
background-color: #410000;
height: 1px;
width: 45%;

}





// ************** //
@media screen and (min-width: 405px){

	.main-container {
		max-width: 1300px;
	}

	header ul {
		text-align: center;
	}

	.logo {
		width: 10%;
		float: right;
		display: none;
	}
	.pics {
		display: inline;
		text-align: center;
	}
	footer{
		width: 100%;


    .facebook, .twitter, .email{

 		width: 3%;
 		margin-left: 1%;
 		float: left;
 		
   	 }
	}


}
@media screen and (min-width: 1000px) {

	
	.main-container {
		width: 1400px;
	}

	.logo {
		
		width: 12%;
		margin: 0 auto;
		display: block;
		position: relative;
		top: 10px;
		float: none;
		

	}


	.hero {

		width: 80%;
		height: 500px;
		margin-left: 10%;
	
	}
	.intro {
		width: 60%;
		margin-right: 7%;
	}




	footer {
    width: 100%;
    font-size: .76em;
    padding: 5px 0;
    min-width: 600px;

    .facebook, .twitter, .email{

 		width: 3%;
 		height: 25px;
 		margin-left: 2%;
 		margin-top: 10px;
 		display: inline-block;

    }


    p {
    	float: right;
    	margin-right: 3%;
    	margin-top: 10px;
    	font-size: 1.5em;
    
    }
	}

	.pics {
		width: 100%;
	
	.hours, .menu, .school {
		float: left;
		height: 180px;
		margin-left: 20%;
		margin-top: 25px;
		padding: 45px 0 65px;

	}
	.school {
		margin-bottom: 30px;
	}
	}

	.drink-container {
	width: 100%;
    z-index: 10;
    position: relative;
    color: #68848B;
    margin-top: 40px;
	}

	.drink-wrapper-coffee {
	width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    size: 1em;
    line-height: 1.5em;
    text-align: center;
	}
	.menu-item {
	width: 100%;
    border-bottom: #FFA849 dashed 1px;
    padding: 15px 0 15px 0;
    text-align: left;
	}
	.menu-item-title {
    color: #4e7987;
    font-size: 1.5em;
    margin-bottom: 5px;
    line-height: 100%;
    width: 90%;
	}
	
	.menu-price {
	color: #4A2B13;
    float: right;
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: 20px;
	}
	.teas {
		margin-left: 25%;
	}
	.menu-price-smoothies {
		padding-bottom: 80px;
	}
}




